{:deps {;; d-core-std foundation library
        org.clojars.cinguilherme/d-core-std {:local/root "../d-core-std"}
        org.clojars.cinguilherme/d-core-db  {:local/root "../d-core-db"}

        ;; Clojure Core dependencies
        org.clojure/clojure {:mvn/version "1.12.3"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        
        ;; Schema validation / generation
        metosin/malli {:mvn/version "0.20.0"}
        
        ;; Database dependencies (SQL, Datomic, XTDB, connection pools) moved to d-core-db
        
        ;; Duct dependencies
        org.duct-framework/main {:mvn/version "0.4.4"}
        org.duct-framework/test {:mvn/version "0.1.0"}
        org.duct-framework/module.web {:mvn/version "0.13.4"}
        org.duct-framework/module.logging {:mvn/version "0.6.6"}
        metosin/reitit {:mvn/version "0.9.1"}

        
        ;; Redis dependencies
        com.taoensso/carmine {:mvn/version "3.4.1"}
        
        ;; AWS dependencies (SQS client; Object storage moved to d-core-store)
        amazonica/amazonica {:mvn/version "0.3.165"}
        
        ;; Object storage (common, minio, s3, bucket) moved to d-core-store
        
        ;; JSON dependencies
        cheshire/cheshire {:mvn/version "5.13.0"}

        ;; GraphQL (Lacinia)
        com.walmartlabs/lacinia {:mvn/version "1.2.1"}
        
        ;; HTTP dependencies
        clj-http/clj-http {:mvn/version "3.12.3"}

        ;; Scheduling / Quartz (also used by d-core.libs.cron-task)
        org.quartz-scheduler/quartz {:mvn/version "2.3.2"}

        ;; Temporal workflow orchestration
        io.temporal/temporal-sdk {:mvn/version "1.33.0"}

        ;; ZooKeeper / Curator
        org.apache.curator/curator-framework {:mvn/version "5.9.0"}

        ;; WebSocket / async server (Aleph + Manifold)
        aleph/aleph {:mvn/version "0.9.3"}
        manifold/manifold {:mvn/version "0.5.0"}
        
        ;; JetStream / NATS dependency moved to d-core-async-messaging
        
        ;; Kafka dependency moved to d-core-async-messaging

        ;; RabbitMQ dependency moved to d-core-async-messaging

        ;; Memcached & cache implementations (redis, valkey, memcached, local-file, layered) moved to d-core-cache
        ;; Auth, Authn, Authz, and API key management moved to d-core-auth

        ;; Metrics / Prometheus
        io.prometheus/simpleclient {:mvn/version "0.16.0"}
        io.prometheus/simpleclient_common {:mvn/version "0.16.0"}
        io.prometheus/simpleclient_hotspot {:mvn/version "0.16.0"}
        io.prometheus/simpleclient_httpserver {:mvn/version "0.16.0"}
}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                      :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]}
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.03.13"}}
   :main-opts ["-m" "clj-kondo.main"]}
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.6"}
          slipset/deps-deploy {:mvn/version "0.2.2"}}
   :ns-default build}}}
